<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Built In Australia</title>
    <meta name="description" content="Built In Australia - All the Australian Software you could want!">
    <meta name="author" content="Brendan Thompson">
    <meta name="keyword" content="Australia, Development, Software">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="Content/css/style.min.css" rel="stylesheet">
    <link href="Content/css/style-responsive.min.css" rel="stylesheet">
    <link href="Content/css/retina.css" rel="stylesheet">
    <!-- end: CSS -->
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="row-fluid">
                    <a class="brand span2 noBg">
                        <span>Built In Australia</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
	<div class="container-fluid-full">
        <div id="content" class="span12">
            <div class="box span12">
                <div class="box-header">
                    <h2>
                        <i class="icon-fire"></i>
                        <span class="break"></span>
                        Bee
                    </h2>
                </div>
                <div class="box-content">
                    <div class="page-header">
                        <h1><b>Bee</b> <small>issue management, made easy</small></h1>
                    </div>
                    <div class="row-fluid">
                        <div class="span11">
                            <p>Awesome sauce app</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
